!.env.example
!.gitkeep
!/epgstation/config/config.yml.template
!/epgstation/config/enc.js.template
!/epgstation/config/epgUpdaterLogConfig.sample.yml
!/epgstation/config/operatorLogConfig.sample.yml
!/epgstation/config/serviceLogConfig.sample.yml
*.log
*.log-*
*.log.*
*.swp
.DS_Store
.env
/docker-compose.yml
/epgstation/config/*
/epgstation/custom.Dockerfile
/epgstation/data/*.json
/epgstation/data/streamfiles/*.m3u8
/epgstation/data/streamfiles/*.ts
/epgstation/thumbnail/*.jpg
/mirakurun/conf/*
/mirakurun/data/*
/recorded/*
recorded
scanned