services:
  # mirakurun:
  #   image: chinachu/mirakurun
  #   cap_add:
  #     - SYS_ADMIN
  #     - SYS_NICE
  #   # ports:
  #   #   - 40772:40772
  #   #   - 9229:9229
  #   volumes:
  #     - ./mirakurun/conf:/app-config
  #     - ./mirakurun/data:/app-data
  #   environment:
  #     TZ: "Asia/Tokyo"
  #   devices:
  #     - /dev/bus:/dev/bus
  #     - /dev/dvb:/dev/dvb
  #   restart: unless-stopped
  #   logging:
  #     driver: json-file
  #     options:
  #       max-file: "1"
  #       max-size: 10m

  # tailscale:
  #   image: tailscale/tailscale:latest
  #   environment:
  #     TS_AUTHKEY: $TS_AUTHKEY
  #     # TS_STATE_DIR: /var/lib/tailscale
  #     TS_USERSPACE: false
  #     TS_AUTH_ONCE: false
  #     TS_ROUTES: 192.168.1.0/24
  #     TS_EXTRA_ARGS: --accept-routes
  #   volumes:
  #     - /lib/modules:/lib/modules
  #     - /dev/net/tun:/dev/net/tun
  #   cap_add:
  #     - NET_ADMIN
  #     - SYS_MODULE
  #   networks:
  #     internal_network:
  #     external_network:
  #   restart: unless-stopped

  mirakc:
    container_name: mirakc
    build:
      context: mirakc
      dockerfile: Dockerfile
    init: true
    restart: unless-stopped
    devices:
      - /dev/px4video0
      - /dev/px4video1
      - /dev/px4video2
      - /dev/px4video3
      - /dev/pxmlt8video0
      - /dev/pxmlt8video1
      - /dev/pxmlt8video2
      - /dev/pxmlt8video3
      - /dev/pxmlt8video4
      - /dev/pxmlt8video5
      - /dev/pxmlt8video6
      - /dev/pxmlt8video7
    volumes:
      - mirakc-epg:/var/lib/mirakc/epg/
      - ./mirakc/config.yml:/etc/mirakc/config.yml:ro
    environment:
      TZ: Asia/Tokyo
      MIRAKC_ARIB_LOG_NO_TIMESTAMP: 1
      MIRAKC_ARIG_LOG: info
      RUST_LOG: info,mirakc=debug

  mariadb:
    container_name: mariadb 
    image: mariadb:10.5
    volumes:
      - mariadb-db:/var/lib/mysql
    environment:
      MYSQL_USER: epgstation
      MYSQL_PASSWORD: epgstation
      MYSQL_ROOT_PASSWORD: epgstation
      MYSQL_DATABASE: epgstation
      TZ: "Asia/Tokyo"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --performance-schema=false --expire_logs_days=1 # for mariadb
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  konomitv:
    container_name: konomitv
    build:
      context: konomitv
      dockerfile: Dockerfile
    restart: always
    network_mode: host
    volumes:
      - ./konomitv/config.yaml:/code/config.yaml
      - ./konomitv/server/data:/code/server/data/
      - ./konomitv/server/logs:/code/server/logs/
      - /mnt/sda1/:/host-rootfs/

  epgstation:
    container_name: epgstation 
    build:
      context: epgstation
      dockerfile: nvenc.Dockerfile 
    environment:
      TZ: "Asia/Tokyo"
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,video,utility"
    volumes:
      - ./epgstation/config:/app/config
      - ./epgstation/data:/app/data
      - ./epgstation/logs:/app/logs
      - ./epgstation/recorded_tmp:/app/recorded_tmp
      - ./epgstation/thumbnail:/app/thumbnail
      - ./epgstation/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro
      - ./epgstation/patch.sh:/usr/local/bin/patch.sh:ro
      - /mnt/sda1/encoded:/app/encoded
      - /mnt/sda1/recorded:/app/recorded
      - /mnt/sda1/thumbnail:/app/thumbnail
    entrypoint:
      - /usr/local/bin/docker-entrypoint.sh
    command:
      - npm
      - start
    depends_on:
      mirakc:
        condition: service_started
      mariadb:
        condition: service_healthy
    ports:
      - 8888:8888
      - 8443:8443
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [compute,video,utility]

  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --autoupdate-freq 12h run
    environment:
      TUNNEL_TOKEN: $TUNNEL_TOKEN
      NO_AUTOUPDATE: false
    extra_hosts:
      - host.docker.internal:host-gateway

volumes:
  mirakc-epg:
    name: mirakc-epg
    driver: local
  mariadb-db:
    name: mariadb-db
    driver: local
